h1 {
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3.5rem;
  color: #4ECCA3;
}

h2 {
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #3F729B;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
